body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

/* header  */
header h1 {
  color: #31a5ac;
}
main {
  width: 92%;
  margin: 0 auto;
}

/* image section  */
.image-section img {
  border-radius: 10px;
  height: 100%;
}

/* calculator section  */
.calculator-section {
  background-color: #f8f8f8;
  border-radius: 10px;
}

.calculator-section p {
  font-size: 16px;
}
.calculator-section input {
  padding: 5px;
  background: #dcdcdc;
  border-radius: 5px;
  margin: 10px;
}
